[Desktop Entry]
Version=1.0
Type=Application
Name=Dynamic
GenericName=Social Media App
Comment=Connect with friends and communities on Dynamic Network

Exec=island %U
Icon=icon-padded
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupNotify=true
StartupWMClass=island

# Helps with search in application menus
Keywords=dynamic;social;chat;messenger;community;network;dm;messages;dynamic network;

MimeType=x-scheme-handler/dynamic;